/*
css for DTP s presahem
ver 1
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;900&display=swap');

body {
	font-family: 'Source Code Pro', monospace;
	margin: 0; 
	background: #efefef;
}

.box h2 a {
  text-decoration: underline;
}

a {
	color: black; 
	text-decoration: none; 
}

p {
	line-height: 35px; 
	letter-spacing: -0.3px; 
	font-size: 22px; 
	color: rgb(65, 65, 65);
}

p a {
	border-bottom: 1px solid black;
}

p:last-child {
  margin: 0px; 
}

h1, h2, h3, p {
	margin-top: 0px;
}

h1 {
	font-size: 50px; 
	line-height: 65px; 
	margin-bottom: 20px;
}

h2 {
	font-size: 25px;
	line-height: 37px;
}

header {
	min-height: 50px;  
	left: 0;
	right: 0;
	margin-top: 10px;
}

ul {
	padding: 0; 
	margin: 0; 
	float: right;
}

li {
	list-style-type: none; 
	float: left; 
	padding-right: 20px;
	line-height: 50px; 
}

li:last-child {
  padding-right: 0px; 
}

code {
  background-color: #787878;
  color: #fff;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
  padding: 0 10px;
}

.container {
  margin: auto;
  max-width: calc(1400px - (30px * 2));
  padding-right: 30px;
  padding-left: 30px;
}

.main-padding {
  padding-top: 90px;
  padding-bottom: 20px;
}

.page-title {
  text-decoration: none; 
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #258ED9;
  text-shadow: 3px 3px 1px #91D2FF;
  margin-top: 0;
  transition: 0.3s;
}

.page-title:hover {
  text-shadow: 1px 1px 1px #91D2FF;
  -webkit-text-stroke: 2px #258ED9;
}

.grid {
  display: grid;
  grid-template-columns: 41% 55%;
  grid-gap: 4%;
  grid-row-gap: 15px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr) );
  grid-gap: 20px;
  padding: 0 10px;
}

.no-margin {
  margin: 0;
}

.box {
  margin-bottom: 10%;  
}

.icon {
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  padding: 20px;
  height: 280px;
  border: 2px #258ED9 solid;
  box-shadow: 3px 3px 1px #91d2ff;
  transition: 0.3s;
}

.icon:hover {
  box-shadow: 0px 0px 1px #91D2FF;
  background-color: #FFFFFF;
}

.icon-descp {
  font-size: 20px;
  line-height: 29px;
  margin-top: 10px;
  font-weight: 900;
}

.title-padding {
  padding-top: 5px; 
}

.width-100 {
  max-width: 100%; 
}

.descp {
  font-size: 14px; 
  font-weight: 600; 
  line-height: 21px; 
}

.select {
  color: #E749A0;
}

.seznam {
  margin: 0;
  padding: 0;
}

.fas {
  -webkit-text-stroke: 2px #258ED9;
  text-shadow: 3px 2px 1px #91d2ff;
  color: rgba(0,0,0,0);
  transition: 0.3s;
}

.fas:hover {
  text-shadow: 0px 0px 1px #91d2ff;
}

.blueboxes {
	display: grid;
	grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	grid-gap: 20px;
	padding: 0 10px;
}

.bluebox {
	background-image: linear-gradient(to right, #31A8FF, #A8DAFF);
	padding: 40px;
	margin-bottom: 20px;
}

.bluebox h1 {
        padding: 0;
}

.bluebox p {
        padding: 0;
}

span.tagy {
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
}

span.date {
	color: #000;
	margin-bottom: 10px;
        display: inline-block;
}

@media only screen and (max-width: 1069px) {
	h1, h2, p {
	  padding-left: 5%; 
	  padding-right: 15%; 
	}
	
	p {
	  font-size: 20px;
	  line-height: 33px; 
	}

	ul {
	  padding-right: 5%;
	}

	h1 {
	  font-size: 35px;
	  line-height: 42px; 
	}

	h2 {
	  font-size: 21px;
	  line-height: 32px; 
	}
	
	.container {
          margin: auto;
          max-width: calc(1400px - (30px * 2));
          padding-right: 0px;
          padding-left: 0px;
         }

	.page-title {
	  padding-left: 5%;
          float: left;
          font-size: 60px;
          -webkit-text-stroke: 1px #258ED9;
          text-shadow: 2px 2px 1px #91d2ff;
	}
	
	.page-title:hover {
	  -webkit-text-stroke: 1px #258ED9;
          text-shadow: 1px 1px 1px #91d2ff;
	}
	
	.fas {
          -webkit-text-stroke: 1px #258ED9;
          text-shadow: 2px 2px 1px #91d2ff;
          color: rgba(0,0,0,0);
        }

        .fas:hover {
          text-shadow: 0px 0px 1px #91d2ff;
        }

	.grid {
	  display: block;
	}

        .no-margin {
          margin: 0;
        }

	.box {
	  margin-bottom: 5%; 
	}

	.width-100 {
	  width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.no-margin {
	  margin: 0;
	}
	
	.blueboxes {
	  display: block;
}

@media only screen and (max-width: 600px) {
	h1, h2, p {
	  padding-left: 5%; 
	  padding-right: 5%; 
	}
	
	ul {
	  float: right;
	  padding-left: 5%;
	}

	.page-title {
	  font-size: 37px;
	  text-shadow: 1px 1px 1px #91d2ff;
	}

	.no-margin {
	  margin: 0;
	}

/*	.icon {
	  margin-bottom: 20%; 
	  max-width: none;
	}

	.icon:last-child {
	  margin-bottom: 10%; 
	} */
}

@media only screen and (max-width: 500px) {
	.main-padding {
	  padding-top: 27px; 
	}

	/*header {
	  position: static;
	  min-height: 50px; 
	}*/
	
	.page-title {
	  font-size: 32px;
	}
}
