---
layout: default
---

<div class="home">

  <h1 class="page-heading">V kostce lorem ipsum</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ante. Vivamus ac leo pretium faucibus. Integer tempor. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Curabitur sagittis hendrerit ante. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Fusce suscipit libero eget elit. Aliquam in lorem sit amet leo accumsan lacinia. Etiam dictum tincidunt diam. Nulla est. Praesent in mauris eu tortor porttitor accumsan.</p>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if page.images %}
        <a href="{{ page.url }}"><img src="{{ site.config.img.orig_url }}{{ page.images|first.image }}" /></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
