---
layout: default
---

<div class="home">

  <p>Navrhuji grafické zpracování tiskovin, především knih. Vystudoval jsem SŠ pro knihkupce a nakladatele a dále pak VOŠ grafickou. Oboru se profesionálně věnuji od roku 2012. <a href="/O%20mně/">Více informací zde...</a></p>
  <p>Také mám bohaté zkušenosti s tvorbou audiovizuálního obsahu. <a href="http://mareksmidrkal.cz/video">Více zde...</a></p>
  
  <ul class="post-list">
    {% for post in site.categories.tisk %}
      <li>
        {% if post.images %}
            <a href="{{ post.url }}">
                <img src="{{ site.config.img.orig_url }}{{ post.images|first.image }}" onmouseover="this.src='{{ site.config.img.orig_url }}{{ post.images|first.image }}_rollover'" onmouseout="this.src='{{ site.config.img.orig_url }}{{ post.images|first.image }}'"/>
            </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
