/**
 * Site header
 */
.site-header {
    min-height: 56px; 
    position: fixed; 
    left: 0; 
    right: 0; 
    padding: 30px 0 50px;
    opacity: 0.95; 
    z-index: 100; 
    transition: top 0.5s;

    // Positioning context for the mobile navigation icon

}

.site-title {
    font-family: "adelle", serif; 
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 2px; 
    float: left;
    border: 0; 
    text-decoration: none; 
    color: #48819b;

    &,
    &:visited {
        color: #48819b;
        border: none; 
    }
    
    &:hover {
        border: none; 
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #000;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

//    @include media-query($on-palm) {
//        position: absolute;
//        top: 9px;
//        right: $spacing-unit / 2;
//        background-color: #fff; 
//        border-radius: 5px;
//        text-align: right;
//        
//        a.menu-icon {
//            border-bottom: none; 
//        }
//        
//        .menu-icon {
//            display: block;
//            float: right;
//            width: 36px;
//            height: 26px;
//            line-height: 0;
//            padding-top: 10px;
//            text-align: center;
//
//            > svg {
//                width: 18px;
//                height: 15px;
//
//                path {
//                    fill: $grey-color-dark;
//                }
//            }
//        }
//
//        .trigger {
//            clear: both;
//            display: none;
//        }
//
//        &:hover .trigger {
//            display: block;
//            padding-bottom: 5px;
//        }

//        .page-link {
//            display: block;
//            padding: 5px 10px;
//
//            &:not(:last-child) {
//                margin-right: 0;
//            }
//            margin-left: 20px;
//        }
//    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0; 
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #48819b;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 156px 0 30px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0px;
    }

}

.blog-list {
    margin-left: 0;
    list-style: none;

    > li {
        background-color: lightgrey;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.video {
    margin-top: 40px; 
}

/**
 * Main page
 */

.grid {
	float: left;
	width: calc(50% - 10px); 
	margin-bottom: 20px; 
	padding-bottom: 0px; 
}

.marginright {
    margin-right: 20px;
}

.stopro {
    width: 100%; 
}

p.jumbo {
    font-size: 60px;
    line-height: 90px;
}

p.services {
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
	
    .grid {
	 width: 100%; 
	 margin-bottom: 15px; 
	 padding-bottom: 0px;
    }
	
    .marginright {
         margin-right: 0px;
    }

    p.jumbo {
        font-size: 45px;
        line-height: 68px;
    }
}

@media screen and (max-width: 600px) {
    
    p.jumbo {
        font-size: 30px;
        line-height: 48px;
    }
}

/**
 * Posts
 */
h1.blog-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    padding: 10px; 
}

h1.post-title {
     @include media-query($on-laptop) {
     padding-bottom: 0; 
     margin-bottom: 0; 
    }	
}

.post-header {
    margin-bottom: $spacing-unit;
    padding-right: 40px; 
	
     @include media-query($on-laptop) {
         margin-bottom: 0; 
    }
}

.post-title {
    font-size: 62px;
    letter-spacing: 2px;
    line-height: 1.2; 
    font-weight: 600; 
    color: #48819b;

    @include media-query($on-laptop) {
        font-size: 36px; 
        letter-spacing: 1px;
        line-height: 1.2; 
    }
}

.post-padding {
    padding: 100px 0 100px 0; 
	
    @include media-query($on-laptop) {
        padding: 0; 
    }
}

p.descp {
    font-size: 25px;
    line-height: 40px; 
	
     @include media-query($on-laptop) {
        font-size:22px; 
        line-height: 37px; 
	    padding-bottom: 15px; 
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Hover Backgrounds
 */

.background01 {
	background: url(http://mareksmidrkal.cz/media/img/orig/info/01-blue.jpg);
	background-size: 100%; 
	background-repeat: no-repeat;
}
