<!DOCTYPE html>
<html>

  {% include bl-head.html %}

  <body>

    {% include bl-header.html %}
	  
    <div class="container main-padding">
      <div class="blueboxes">
        {% for page in site.tags.blog limit:2 %}
          <a href="../{{ page.permalink }}">
            <div class="bluebox">
              <span class="tagy">{{ page.categories }}</span> <span class="date">{{ page.date | "%d/%m/%Y" }}</span>
              <h1>{{ page.title }}</h1>
              <p>{{ page.content | strip_html | truncatewords: 30 }}</p>
    	    </div>
           </a>
        {% endfor %}
      </div>
        <div class="grid-4">
      {% for page in site.tags.blog offset:2 %}
          <a href="../{{ page.permalink }}">
            <div class="icon">
              <i class="{{ page.font-awesome }}"></i>
              <div class="icon-descp">{{ page.title }}</div>
            </div>
          </a>
      {% endfor %}
        </div>
    </div>

  </body>

</html>
