<!DOCTYPE html>
<html>

  {% include bl-head.html %}

  <body>

    {% include bl-header.html %}

    <div class="container main-padding">
      <h1>Nejnovější příspěvky</h1>
      
        <div class="grid-4">
      {% for page in site.tags.blog %}
			    <div class="box icon">
			      <a href="../{{ page.permalink }}">
			    		<i class="{{ page.font-awesome }}"></i>
			    		<div class="icon-descp">{{ page.title }}</div>
			    	</a>
			    </div>
      {% endfor %}
        </div>
    </div>

  </body>

</html>
