<!DOCTYPE html>
<html>
<head>
  <title>DTP manuál</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://use.typekit.net/eer6xbt.css">
</head>
<body>

  <div class="main-image">
    <header>
      <div class="container">
        <span class="main-title">DTP manuál</span>
        <span class="main-description">Praktické návody pro Adobe Photoshop a InDesign</span>
        </div>
     </header>

    <img class="logo-adobe" src="photoshop-logo.png">
    <a href="http://mareksmidrkal.cz" target="_blank" class="author ps-colors">píše Marek Šmidrkal</a>
  </div>

  <div class="fresh-article ps-colors">
    <div class="container">
      <a href="/" class="first-article"><h1 class="new-article">Nejnovější článek:
      Affinity Photo</h1></a>
    </div>
  </div>

  <div class="container flex-article-menu">
    <div class="article-menu">
      <a href="/" class="article-link">
        <h2 class="article-menu-name">Šrafování v InDesignu</h2>
        <span class="article-menu-tags">22. 1. 2018 • InDesign</span>
      </a>
    </div>

    <div class="article-menu">
      <h2 class="article-menu-name">Styly grep</h2>
      <span class="article-menu-tags">18. 5. 2018 • InDesign</span>
    </div>

    <div class="article-menu">
      <h2 class="article-menu-name">Inteligentní objekty ve Photoshopu</h2>
      <span class="article-menu-tags">31. 11. 2017 • Photoshop</span>
    </div>

    <div class="article-menu">
      <h2 class="article-menu-name">Skripty v InDesignu</h2>
      <span class="article-menu-tags">5. 8. 2017 • InDesign</span>
    </div>
  </div>

  <div class="container">
    <span class="button-all ps-colors"><a href="/">všechny články</a></span>
  </div>

</body>
</html>